:root {
  --space-0: 0;
  --space-1: 0.4rem;
  --space-2: 0.8rem;
  --space-3: 1.6rem;
  --space-4: 2.4rem;
  --space-5: 3.2rem;
  --space-6: 4rem;
  --space-7: 4.8rem;
  --space-8: 5.6rem;
  --space-9: 6.4rem;

  --fontSize-0: 0.875rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.5rem;
  --fontSize-3: 2rem;
  --fontSize-4: 2.5rem;
  --fontSize-5: 3rem;
  --fontSize-6: 4rem;
  --fontSize-7: 6rem;
  --fontSize-8: 8rem;

  --primary-color: #370b67;
  --secondary-color: #e32a2ac7;
  --tertiary-color: #423a4d;
  --primary-bg-color: #f7e8e8;
  --secondary-bg-color: #f2e8f7;
  --body-copy-color: #26212c;
  --primary-bg-dark-color: #1b0635;

  --gray-0: #f8f9fa;
  --gray-1: #f1f3f5;
  --gray-2: #e9ecef;
  --gray-3: #dee2e6;
  --gray-4: #ced4da;
  --gray-5: #adb5bd;
  --gray-6: #868e96;
  --gray-7: #495057;
  --gray-8: #343a40;
  --gray-9: #212529;
}
