body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  box-sizing: border-box;
  height: 100%;
}

/**
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications. Removes the default spacing and border for
 * appropriate elements.
 */

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
pre {
  margin: 0;
}

button {
  background: transparent;
  border: 0;
  padding: 0;
  border-radius: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container,
.hero-block-container,
.how-it-works-container,
.cta-block-container {
  padding: var(--space-4);
  padding-bottom: var(--space-4);
}

.footer,
.legal-links {
  padding: var(--space-4);
  padding-bottom: var(--space-4);
}

/* @media (min-width: 600px) {
  .hero-block-container,
  .how-it-works-container {
    padding: var(--space-4);
    padding-top: var(--space-4);
  }
} */

@media (min-width: 980px) {
  .container {
    padding: var(--space-9);
    padding-bottom: var(--space-9);
  }

  .footer {
    padding: var(--space-9);
    padding-bottom: var(--space-6);
  }

  .legal-links {
    padding-left: var(--space-9);
    padding-right: var(--space-9);
  }
}

/* @media (min-width: 1024px) {
  .hero-block-container {
    padding: var(--space-9);
    padding-bottom: var(--space-9);
  }
} */
