.flex {
  display: flex;
}
.flex-direction-column {
  flex-direction: column;
}
.flex-direction-row {
  flex-direction: row;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}

/* Basic keywords */
.items-normal {
  align-items: normal;
}
.items-stretch {
  align-items: stretch;
}

/* Positional alignment */
/* align-items does not take left and right values */
.items-center {
  align-items: center;
}
.items-start {
  align-items: start;
}
.items-end {
  align-items: end;
}
.items-flex-start {
  align-items: flex-start;
}
.items-flex-end {
  align-items: flex-end;
}

/* Baseline alignment */
.items-baseline {
  align-items: baseline;
}
.items-safe-center {
  align-items: safe center;
}
.items-unsafe-center {
  align-items: unsafe center;
}

/* Global values */
.items-inherit {
  align-items: inherit;
}
.items-initial {
  align-items: initial;
}
.items-unset {
  align-items: unset;
}
